@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,400;0,600;0,900;1,200;1,400;1,600&display=swap');

::-webkit-scrollbar {
    width: 0;   /*Remove scrollbar space */
}

body {
  font-family: 'Titillium Web', sans-serif;
  font-weight: 0, 200;
  font-style: normal;
  
  background-color: #1b1b1b;
	color: white;
  /* height: 1000vh; */
}

h2 {
  font-family: 'Titillium Web', sans-serif;
  font-weight: 0, 400;
  font-style: normal;
  font-size: 100;
  font-variant: small-caps;
  letter-spacing:2px ;
  line-height: auto;
}

p {
  margin: 5px 0 5px 0;
  line-height: 1.8em;
  letter-spacing: .2px;
}

header {
	background-image: url(assets/tagscoverblur.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  
  display: flex;
  align-items: center;
  justify-content: center;
}

header img {
  width: 40%;
  height: 40%;
  object-fit: contain;
}

/* section.brief {
  height: 425vh;
  
} */

section:nth-child(odd) {
  flex-direction: row-reverse;
}

div .text {
  align-items: center;
  flex-direction: column;
  margin-top: 10vh; 
  padding: 50px;
  margin-bottom: 40vh;
}


.fullimage {
  /* position: sticky;
  position: -webkit-sticky; */
  top: 0;
 display: flex; 
 object-fit: cover; 
 /* justify-content: center; 
   align-items: center; */
  flex-direction: column;
  /* margin-top: 20vh;
  padding: 70px;  */

}


.textimage {
  /* width: 100%;
  height: 100%; */
  object-fit: cover;
}

.logo{
  display:inline-block;
  height: 100vh;
  width: 9%;
}
.box{
  display:inline-block;
  height: 100vh;
  width: 44%;
  margin-left: 1.2vw;
  -ms-overflow-style: -ms-autohiding-scrollbar;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
  overflow-y: scroll;
}

.box::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

.scroll1img {
  /*width: 50vw;*/
  object-fit: fill;
}

/* div.scrolling-images-1 {
	height: 100vh;
  /* background-size: cover;
  background-position: center; */
  
  /* position: sticky;
  position: -webkit-sticky;
  top: 0; */



/* div.scroll1-1 {
  background-image: url(assets/div1.jpg);
  width: 50%;
  background-size: cover; */



/* 
@media (max-width: 800px) {
  body {
    font-size: 16px;
  }
  
  h2 {
    font-size: 32px;
  }
  
  header {
    height: 75vw;
  }
  
  section {
    display: block;
  }
  
  section div {
    width:  100%;
  }
  
  section div.text {
    padding: 30px;
  }
  
  div.full-image {
    height: 100vw;
  }
} */

